/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #player-setup, #game-play {
    text-align: center;
    margin-top: 50px;
  }
  
  #answer-input {
    width: 200px;
  }
  
  #answers-list, #revealed-answers {
    margin-top: 20px;
  }
  
  /* Top Bar Styles */
  #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }
  
  #players-list {
    text-align: left;
    margin-left: 20px;
  }
  
  #players-list h3 {
    margin-top: 0;
  }
  
  .player-item {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
  
  #secondary-host-controls {
    text-align: right;
    margin-right: 20px;
  }
  
  /* Main Host Controls */
  #main-host-controls {
    margin-top: 20px;
  }
  
  #main-host-controls button {
    margin: 5px;
  }
  
  /* Question Styles */
  #question {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Answer Styles */
  .answer-correct {
    background-color: lightgreen;
  }
  
  .answer-duplicate {
    background-color: lightcoral;
  }
  
  .answer-incorrect {
    background-color: transparent;
  }
  
  /* Answer List Styles */
  #answers-list p {
    padding: 5px;
  }
  
  #answers-list h3 {
    margin-top: 20px;
  }
  
  /* Revealed Answers Styles */
  #revealed-answers {
    margin-top: 20px;
  }
  
  /* Answer Section Styles */
  #answer-section {
    margin-top: 20px;
  }
  